<html>
    <body>
        <div style="width: 100%; font-size: 40px; font-weight: bold; text-align: center;">
                This Page is {{ item.name }} of {{ ansible_hostname }}.
        </div>
    </body>
</html>
